main{
    float: left;
    width: 100%;
}

/*  Project Content  */

.project{
    margin: auto;
    margin-top: 50px;
    width: fit-content;
    overflow: hidden;
}

.project > h1{
    text-align: center;
    display: block;
    padding: 16px 16px;
    color: rgb(211, 148, 11);
    margin-bottom: 50px;
    font-family: monospace;
    font-size: 35px;
}

.project > p{
    text-align: center;
    color: #f2f2f2;
    width: 75%;
    margin: auto;
    margin-bottom: 40px;
    font-family: monospace;
    font-size: 20px;
}

#project-download{
    display: block;
    margin: auto;
    border-radius: 20px;
    padding: 10px 30px;
    width: fit-content;
    margin-bottom:30px;
    margin-top: 30px;

    color: black;
    font-family: monospace;
    background: rgba(9, 163, 190, 0.6);
    text-decoration: none;
    transition: 300ms;
    font-size: 25px;
}
#project-download:hover{
    background: rgb(9, 163, 190);
}

#spacer{
    width: 75%;
    height: 2px;
    background: #f2f2f2;
    margin: auto;
    border-radius: 20px;
}

.content{
    width: fit-content;
    margin: auto;
}

/*  Presentation  */

.presentation{
    width: 70%;
    height: fit-content;
    display: flex;
    box-sizing: border-box;
    margin: auto;
    margin-top: 30px;
    padding: 40px 40px;
    background: rgba(37, 37, 37);
    border-radius: 30px;
}

#resize{
    width: 630px;
    height: 380px;
    max-width: 1000px;
    max-height: 600px;
    min-width: 336px;
    min-height: 213px;
    resize: both;
    overflow: auto;
    display: flex;
}
#resize > *{
    flex: 1;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
    min-width: inherit;
    min-height: inherit;
    resize: inherit;
}

#presentation-img{
    display: none;
    border-radius: 20px;
}

#presentation-text{
    flex: 1;
    box-sizing: border-box;
    padding: 14px 16px;
}
#presentation-text > p{
    font-family: monospace;
    font-size: large;
    color: #f2f2f2;
}

/*  Website  */

.blog{
    background: rgb(90, 47, 47);
    margin: auto;
    margin-top: 50px;
    font-family: monospace;
    padding: 18px 20px;
    background: rgba(37, 37, 37);
    border-radius: 30px;
    width: 70%;
}
.blog > img{
    width: 100%;
    pointer-events: none;
    border-radius: 10px;
    margin-top: 5px;
}


@media only screen and (max-width: 992px){
    .project{
        margin-top: 15px;
    }
    .project > h1{
        font-size: 150%;
    }
    .project > p{
        font-size: 14px;
    }

    /*  Presentation  */
    .presentation{
        width: calc(100% - 10px);
        display: block;
        padding: 10px 10px;
    }

    #resize{
        display: none;
    }
    
    #presentation-img{
        display: block;
        width: 100%;
    }

    .blog{
        width: calc(100% - 10px);
        padding: 10px 10px;
    }
}