footer{
    background-color: rgb(64, 104, 104);
	width: 100%;
    text-align: left;
}

.list{
    width: fit-content;
    height: fit-content;
    display: block;
    margin: auto;
}

.list img{
    height: 50px;
    width: 50px;
}