footer{
	width: 100%;
    position: static;
    height: fit-content;
    float: left;
    margin-bottom: 20px;
}
html{
    scroll-behavior: smooth;
}

#topButton{
    width: fit-content;
    margin: auto;
    padding: 14px 16px;
    display: none;
    margin-top: 25px;
}
#topButton > a{
    display: flex;
    flex: 1;

    text-decoration: none;
    font-size: 20px;
    color: #f2f2f2;
    transition: 300ms;
}
#topButton > a:hover{
    color: #808080;
}
#topButton > a > span{
    margin-top: 4px;
}
#topButton > a > p{
    padding: 5px;
    font-family: monospace;
}

#mobileButton{
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border: none;
    outline: none;
    padding: 10.75px 13px;
    font-size: 18px;
    border-radius: 10px;
    z-index: 99;
    background: rgba(7, 59, 68, 0.8);
}
#mobileButton > *{
    color: #f2f2f2;
}

@media only screen and (max-width: 992px){
    #topButton{
        display: none;
    }
}