header{
	float: left;
	width: 100%;
	height: fit-content;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: block;
	white-space: nowrap;
}

/* Slideshow */
.container{
	overflow: hidden;
	position: relative;
	height: fit-content;
	width: 100%;
}

.wrapper{
	transition: transform 1s ease-in-out;
	height: 400px;
	position: relative;
}

.wrapper > img {
	position: relative;
	object-fit: cover;
	pointer-events: none;
}

/* Navigation buttons */
.navigation-button {
    position: absolute;
    top: 40%;
    transform: translateY(-60%);
    font-size: 150%;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
	transition: 200ms;
}

.navigation-button:hover{
	color: rgb(255, 255, 255);
}

#prevButton {
    left: 20px;
}

#nextButton {
    right: 20px;
}

/* Nav Bar */
nav{
	overflow: auto;
	background: rgb(37, 39, 39, 0.6);
	position: absolute;
	width: 100%;
	bottom: 0;
	height: fit-content;
	text-align: center;
	z-index: 1000;

	/* Scrollbar Management in Navbar */
	-ms-overflow-style: none;
	scrollbar-width: none;
}

nav::-webkit-scrollbar{
	display: none;
}
	/*--------------------------------*/

nav > a.active{
	border-bottom: 5px solid #afaeae;
	color: #f2f2f2;
}

nav > a{
	display: inline-block;
	color: #f2f2f2;
	padding: 14px 16px;
	text-decoration: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
}

nav > a > img{
	display: inline-block;
	color: #f2f2f2;
	width: 20px;
	height: 20px;
	vertical-align: text-bottom;
}

nav > a:hover{
	border-bottom: 5px solid #afaeae;
}

@media only screen and (max-width: 992px){
	header{
		height: 53px;
	}

	nav{
		overflow: auto;
		background: rgb(37, 39, 39, 0.9);
		position: fixed;
		top: 0;
		height: fit-content;
		text-align: left;
	}

	.container{
		display: none;
	}
}